# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Fichiers de configuration
config.php

# Fichiers de base de données
*.sql

# Fichiers de cache
*.cache 